</div>
</div>
</section>

<footer id="footer">
  <!--Footer-->
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <div class="companyinfo">
            <h2>
              <span>GSC</span>-Viet Nam</h2>
          </div>
        </div>
        <div class="col-sm-7">
        </div>
      </div>
    </div>

    <div class="footer-widget">
      <div class="container">
        <div class="row">
          <div class="col-sm-2">
            <div class="single-widget">
              <h2>TRỤ SỞ HÀ NỘI</h2>
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <a href="#">+ A40-TT1 - Văn Quán - Hà Đông - Hà Nội</a>
                </li>
                <li>
                  <a href="#">Tel:+84-24 62.811.855(Ext: 201; 202)</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-2">
              <div class="single-widget">
                <h2>TRỤ SỞ HÀ NỘI</h2>
                <ul class="nav nav-pills nav-stacked">
                  <li>
                    <a href="#">+ A40-TT1 - Văn Quán - Hà Đông - Hà Nội</a>
                  </li>
                  <li>
                    <a href="#">Tel:+84-24 62.811.855(Ext: 201; 202)</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-2">
                <div class="single-widget">
                  <h2>TRỤ SỞ HÀ NỘI</h2>
                  <ul class="nav nav-pills nav-stacked">
                    <li>
                      <a href="#">+ A40-TT1 - Văn Quán - Hà Đông - Hà Nội</a>
                    </li>
                    <li>
                      <a href="#">Tel:+84-24 62.811.855(Ext: 201; 202)</a>
                    </li>
                  </ul>
                </div>
              </div>
          <div class="col-sm-3 col-sm-offset-1">
            <div class="single-widget">
              <h2>About GSC</h2>
              <form action="#" class="searchform">
                <input type="text" placeholder="Your email address" />
                <button type="submit" class="btn btn-default">
                  <i class="fa fa-arrow-circle-o-right"></i>
                </button>
                <p>Get the most recent updates from
                  <br />our site and be updated your self...</p>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <p class="pull-left">Copyright © 2018 GSC Viet Nam. All rights reserved.</p>
          <p class="pull-right">Designed by
            <span>
              <a target="_blank" href="">GSC Viet Nam</a>
            </span>
          </p>
        </div>
      </div>
    </div>

</footer>
<!--/Footer-->
<script src="/static/js/ckeditor.js"></script>
<script>
  CKEDITOR.replace('editor1');
</script>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.scrollUp.min.js"></script>
<script src="/static/js/price-range.js"></script>
<script src="/static/js/jquery.prettyPhoto.js"></script>
<script src="/static/js/main.js"></script>
</body>

</html>