<div class="col-sm-3">
        <div class="left-sidebar">
            <h2>Danh mục sản phẩm</h2>
            <div class="panel-group category-products" id="accordian">
                <% menus.forEach(function(menu){ %>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="/menu/<%= menu.slugMenu %>">
                                    <%= menu.name %>
                                </a>
                            </h4>
                        </div>
                    </div>
                    <% })  %>
            </div>
            <!--/category-products-->
        </div>
    </div>